PORT=3000

# Evolution API
EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_API_KEY="Qwerty!23456"
EVOLUTION_INSTANCE=Zabbix

# Zabbix API
ZABBIX_API_URL=https://zabbix.example.com/api_jsonrpc.php
ZABBIX_API_TOKEN=CHANGE_ME

#Globalping
GLOBALPING_API_URL=https://api.globalping.io/v1
GLOBALPING_API_KEY=thudc3wi7awmjvtjcrposhdetyrvn2b6
